.container-fluid(id="footer")
  .row
    .col-md-12
      ul
        li
          a(href="//www.pona.news/", target="_blank") {{ i18n.mainSite }}
        li
          a(href="//www.pona.news/terms-of-services", target="_blank") {{ i18n.termsOfService }}
      p.text-center {{ i18n.copyright }}
