nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(ng-click="menuNavBar = !menuNavBar", type="button")
        span.sr-only {{ i18n.showMenu }}
        |
        span.icon-bar
        |
        span.icon-bar
        |
        span.icon-bar
      |
      a.navbar-brand(href="#!/", title="{{ i18n.projectTitleFull }}")
        img(src="lib/icons/icon-16.png", alt="{{ i18n.projectTitleFull }}")
    |
    .navbar-collapse.collapse(ng-class="menuNavBar ? 'in' : 'collapse'")
      ul.nav.navbar-nav
        //- items
        li(ng-class="{ 'active' : routePath === '/'}")
          a(href="#!/")
            i.fa.fa-home(aria-hidden="true")
            | &nbsp; {{ i18n.home }}
        //- items
        li(ng-if="user")
          a(href="#!/dashboard/")
            i.fa.fa-tachometer(aria-hidden="true")
            | &nbsp; {{ i18n.dashboard }}

        //- items
        li.dropdown(ng-if="user" , ng-class="menu.current === 'guok3ie2' ? 'open' : ''" , ng-show="user.role === 'ROLE_SUBSCRIBER' || 'ROLE_ADMIN'")
          a.dropdown-toggle(href="javascript:void(0);", ng-click="menu.change('guok3ie2')")
            i.fa.fa-sign-language(aria-hidden="true")
            | &nbsp; {{ i18n.publishAdvertise }} &nbsp;
            span.caret
          |
          ul.dropdown-menu
            li
              a(href="#!/reportage/add", ng-click="menu.current = ''") {{ i18n.addReportage }}
            li.divider(role="separator", ng-click="menu.current = ''")
            li
              a(href="#!/reportage/list", ng-click="menu.current = ''") {{ i18n.reportageList }}
        //- items
        //- li.dropdown(ng-class="menu.current === 'myWebsite' ? 'open' : ''")
        //-   a.dropdown-toggle(href="javascript:void(0);", ng-click="menu.change('myWebsite')")
        //-     i.fa.fa-sitemap(aria-hidden="true")
        //-     | &nbsp; {{ i18n.myWebsite }} &nbsp;
        //-     span.caret
        //-   |
        //-   ul.dropdown-menu
        //-     li
        //-       a(href="#!/website/add", ng-click="menu.current = ''") {{ i18n.registerNewWebsite }}
        //-     li.divider(role="separator")
        //-     li
        //-       a(href="#!/website/list", ng-click="menu.current = ''") {{ i18n.websiteList }}
        //- items
        li.dropdown(ng-if="user" , ng-class="menu.current === 'upload' ? 'open' : ''")
          a.dropdown-toggle(href="javascript:void(0);", ng-click="menu.change('upload')")
            i.fa.fa-upload(aria-hidden="true")
            | &nbsp; {{ i18n.files }} &nbsp;
            span.caret
          |
          ul.dropdown-menu
            li
              a(href="javascript:void(0);", ng-click="menu.current = ''; uploader.open()") {{ i18n.uploadFile }}
            li.divider(role="separator")
            li
              a(href="#!/files/list", ng-click="menu.current = ''") {{ i18n.editFiles }}
        //- items invoice
        li.dropdown(ng-if="user", ng-class="menu.current === 'myInvoice' ? 'open' : ''")
          a.dropdown-toggle(href="javascript:void(0);", ng-click="menu.change('myInvoice')")
            i.fa.fa-credit-card(aria-hidden="true")
            | &nbsp; {{ i18n.myInvoice }} &nbsp;
            span.caret
          |
          ul.dropdown-menu
            li
              a(href="#!/invoice/list", ng-click="menu.current = ''") {{ i18n.invoiceList }}
            li.divider(role="separator")
            li
              a(href="#!/invoice/paid", ng-click="menu.current = ''") {{ i18n.invoiepaid }}
            li.divider(role="separator")
            li
              a(href="#!/invoice/unpaid", ng-click="menu.current = ''") {{ i18n.invoieunpaid }}
            li.divider(role="separator")
            li
              a(href="#!/invoice/faild", ng-click="menu.current = ''") {{ i18n.failedPaid }}
        //- items news
        li.dropdown(ng-if="user" , ng-class="menu.current === 'myNews' ? 'open' : ''")
          a.dropdown-toggle(href="javascript:void(0);", ng-click="menu.change('myNews')")
            i.fa.fa-newspaper-o(aria-hidden="true")
            | &nbsp; {{ i18n.news }} &nbsp;
            span.caret
          |
          ul.dropdown-menu
            li
              a(href="#!/newsaproved/list", ng-click="menu.current = ''") {{ i18n.approveList }}
            li.divider(role="separator")
            li
              a(href="#!/newspublish/list", ng-click="menu.current = ''") {{ i18n.publishedNews }}
            li.divider(role="separator")
            li
              a(href="#!/newsunpublish/list", ng-click="menu.current = ''") {{ i18n.unpunlishNews }}


        //- items credit
        li.dropdown(ng-if="user" , ng-class="menu.current === 'myCredit' ? 'open' : ''")
          a.dropdown-toggle(href="javascript:void(0);", ng-click="menu.change('myCredit')")
            i.fa.fa-list-alt(aria-hidden="true")
            | &nbsp; {{ i18n.credit }} &nbsp;
            span.caret
          |
          ul.dropdown-menu
            li
              a(href="#!/credit/add", ng-click="menu.current = ''") {{ i18n.addCredit }}
            li.divider(role="separator")
            li
              a(href="#!/credit/sub", ng-click="menu.current = ''") {{ i18n.creditSub }}



      //- left-nav-bar
      ul.nav.navbar-nav.navbar-left
        //- user-credit
        li(ng-if="user")
          include ../Credit/ShowUserCreditController.pug

        //- start admin **
        include ../includes/admin.pug
        //- end admin **
        //- item
        li(ng-if="!user", ng-class="{ 'active' : routePath === '/user/register'}")
          a(href="#!/user/register", ng-click="menu.current = ''")
            i.fa.fa-user-plus(aria-hidden="true")
            | &nbsp; {{ i18n.register }}
        //- item
        li(ng-if="!user", ng-class="{ 'active' : routePath === '/user/login'}")
          a(href="#!/user/login", ng-click="menu.current = ''")
            i.fa.fa-sign-in.fa-fw(aria-hidden="true")
            | &nbsp; {{ i18n.login }}
        //- item
        li.dropdown(ng-if="user", ng-class="menu.current === 'guok3ie3' ? 'open' : ''")
          a.dropdown-toggle(href="javascript:void(0);", ng-click="menu.change('guok3ie3')")
            i.fa.fa-user-circle(aria-hidden="true")
            | &nbsp; {{ user.name }} &nbsp;
            span.caret
          |
          ul.dropdown-menu
            li(ng-if="user", ng-class="{ 'active' : routePath === '/user/profile'}")
              a(href="#!/user/profile", ng-click="menu.current = ''") {{ i18n.profile }}
            li(ng-if="user", ng-class="{ 'active' : routePath === '/user/logout'}")
              a(href="#!/user/logout", ng-click="menu.current = ''") {{ i18n.logout }}




//- breadcrumb
.container-fluid(ng-if!="routePath !== '/'")
  ol.breadcrumb
    li
      a(href="#!/") {{ i18n.home }}
    li(ng-repeat="r in breadcrumb")
      a(href="#!/{{ r.path }}") {{ i18n[r.name] }}
    li.active {{ title }}
