div(layout='row', layout-fill='')
  md-toolbar
    .md-toolbar-tools(layout="row" layout-align="right center" layout-wrap)
      flex
        md-button( ng-href="#!/")
          i.fa.fa-home(aria-hidden="true")
          | &nbsp; {{ i18n.home }}
      flex
        md-button( ng-href="#!/")
          i.fa.fa-home(aria-hidden="true")
          | &nbsp; {{ i18n.home }}
